<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Member</title>
</head>
<body>
<h1>Create new user</h1>
<form action="new_member/create" method="post">

    <div>
        <label>First name</label>
        <label>
            <input type="text" name="firstName" placeholder="Enter Your First Name"/>
        </label>
    </div>

    <div>
        <label>Last name</label>
        <label>
            <input type="text" name="lastName" placeholder="Enter your LastName"/>
        </label>
    </div>

    <button>Submit</button>

</form>
</body>
</html>